<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Punctuation remover</title>
</head>
<body>
  <h1 style="text-align:center;">Punctuation remover(Text Analyzer)</h1>
  <div style="display:flex;justify-content:center;align-items:center;">
  <form action="/analyzed" method="GET">
      <textarea name="text" style="width:80vw;height:120px"></textarea><br/>
      <input name="check1" type="checkbox">Remove Punctuation<br/>
      <input name="check2" type="checkbox">Upper Case<br/>
      <input name="check3" type="checkbox">New Line Remover<br/>
      <input name="check4" type="checkbox">Space Remover<br/>
      <input name="check5" type="checkbox">Character Count<br/>
      <button type="submit">Submit Here</button>
  </form>
      </div>
</body>
</html>